
{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <p>
    About Gomark Bookmarking Tool
  </p>
  
</section>

<section class="ui center aligned left aligned segment">
  <p>
    Gomark Bookmarking tool is a fantastic new way to save all of your bookmarks in one place in an easy to understand tool.
  </p>
  
<section class="ui center aligned middle aligned segment">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2441.5877111989143!2d-7.139016283872666!3d52.26903147976752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4842c433cd602f9f%3A0xed93446875f67e23!2s26+Water&#39;s+Gate%2C+Waterford!5e0!3m2!1sen!2sie!4v1488150011600" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>