{{> welcomemenu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Gomark!
  </h1>
  <p>
    The app for all your boomkarking and image needs!
  </p>
</section>