<form class="ui stacked segment form" action="/bookmark/addbookmark" method="POST">
  <div class="field">
    <label>New Bookmark List</label>
    <input placeholder="Bookmark List" type="text" name="Bookmark Title">
  </div>
  <button class="ui primary button">Add Bookmark List</button>
</form>